// Content Section Blocks
// Each one of these should map to the HTML authored in templates/partials/content-blocks.php

@import "../sections/banner";
@import "../sections/boxes";
@import "../sections/call-to-actions";
@import "../sections/heading";
@import "../sections/hidden-help-text";
@import "../sections/image-and-captions";
@import "../sections/quote-block";
@import "../sections/statistic";
@import "../sections/textonly";
@import "../sections/videoblock";

// Content Section Blocks Modifier Classes
.light-text {
    color: $white
}

.dark-text {
    color: $black;
}

.align-left {
    text-align: left;
}

.align-centered {
    text-align: center;
}

.align-right {
    text-align: right;
}
