// Paths
$imagePath: "img/";
$fontPath: "fonts/";

// Use like this : #{$fontPath} or #{$imagePath}

// Site Width
$site-max-width: 960px;
$site-gutters: 30px;

// Breakpoints
$big-screen: $site-max-width;
$medium-screen: 900px;
$small-screen: 780px;
$tiny-screen: 480px;

// MQs
// @media screen and (max-width: $big-screen) {}
// @media screen and (max-width: $medium-screen) {}
// @media screen and (max-width: $small-screen) {}
// @media screen and (max-width: $tiny-screen) {}

// Margins & Padding
$margin: 30px;
$padding: 30px;

// Colours - see settings/_colours.scss for a complete list

// Brand
$brand-primary: $govuk-blue;
$brand-secondary: $purple;
$brand-tertiary: $grass-green;

// Errors
$highlight: $yellow;
$error: $mellow-red;

// Base Site
$base-font-colour: $black;
$body-background-colour: $white;

// Buttons
$button: #00823b;
$button-inactive: #00823b;
$button-hover: #006435;
$button-text: $white;
$button-text-hover: $white;

// Tables
$table-borders: $grey-2;

// Borders
$border-colour: $grey-1;
$border-radius: 0px;
$input-border: $grey-1;
$input-border-focus: $highlight;
