.call-to-action-banner {
    padding: $padding/2 0;
    background-color: $brand-secondary;
    color: $white;

    h2 {
        margin-top: 0;
    }
}

.call-to-action-button {
    padding: $padding/2 0 22px;
}
