.call-to-action-banner {
    background-color: $brand-secondary;
    color: $white;
    padding: $padding 0;

    h2 {
        margin-top: 0;
    }
}

.call-to-action-button {
    padding: $padding 0;
}
