.left-image-caption {
    padding: $padding 0;

    figure {
        @include row(true);
    }

    img {
        @include col(2/4);
        float: left;
        @media screen and (max-width: $small-screen) {
            @include col(1/1);
        }
    }

    figcaption {
        @include col(2/4);
        float: right;
        font-size: $base-font-size;
        @media screen and (max-width: $small-screen) {
            @include col(1/1);
        }

        a {
          color: $base-font-colour;
        }
    }

    &.small-image {
      img {
        @include col(1/3);
      }
      figcaption {
          @include col(2/3);
      }
    }
}

.right-image-caption {
    padding: $padding 0;

    figure {
        @include row(true);
    }

    img {
        @include col(2/4);
        float: right;
        @media screen and (max-width: $small-screen) {
            @include col(1/1);
        }
    }

    figcaption {
        @include col(2/4);
        float: left;
        font-size: $base-font-size;
        @media screen and (max-width: $small-screen) {
            @include col(1/1);
        }

        a {
          color: $base-font-colour;
        }
    }

    &.small-image {
      img {
        @include col(1/3);
      }
      figcaption {
          @include col(2/3);
      }
    }
}

.full-width-image {
    padding: $padding 0;
    img {
        max-width: 100%;
        display: block;
    }

    figcaption {
        font-size: $base-font-size;
        margin: 0 0 $margin 0;
    }
}

.statistic {
    padding: $padding 0;

    .data {
        border-bottom: 8px solid $grey-2;
        margin: $margin 0;
    }

    h2 {
        font-size: 190px;
        margin: 0;
        line-height: 0.8;
        @media screen and (max-width: $small-screen) {
            font-size: 80px;
        }
    }

    p {
        font-weight: 700;
        font-size: #{$base-font-size*2};
        @media screen and (max-width: $small-screen) {
            font-size: $base-font-size;
        }
    }
}
