.quote-block {
    blockquote {
        padding: 0 0 0 $padding;
        margin: 0 0 $margin 0;
        max-width: 40em;
        border-left: 8px solid $grey-2;

        cite:before {
            content: "\2014\00a0";
        }

        cite {
            font-family: $font-family-serif;
        }
    }
}
