.follow-us {
    @include col(1/4);

    ul {
        float: right;
    }

    li {
        margin: 0 0 0 #{$margin/2};
        display: block;
        float: left;
    }

    a {
        width: 32px;
        height: 32px;
        @include transition (fill, .2s, ease-in-out);
        display: block;

        .inline-icon {
            width: 32px;
            height: 32px;
        }

        span {
            @include hide;
        }
    }

    .follow-us--facebook {
        .inline-icon {
            fill: $facebook;
        }
    }

    .follow-us--twitter {
        .inline-icon {
            fill: $twitter;
        }
    }

    .follow-us--linkedin {
        .inline-icon {
            fill: $linkedin;
        }
    }

    a:hover {
        .inline-icon {
            fill: $grey-1;
        }
    }

}
