// Buttons

.button,  {
  @include button($button, $button-text, default);

  &:visited {
    @include button($button, $button-text, default);
  }

  &:hover {
    @include button($button-hover, $button-text-hover, default);
  }

  &:active, &:focus {
    @include button($button-hover, $button-text-hover, default);
    outline: 3px solid $highlight;
    box-shadow: 0 0 0 #000;
    top: 3px;
  }
}

.button[disabled="disabled"], .button:hover[disabled="disabled"] {
  @include button($button-inactive, $button-text, default);
  cursor: default;
  opacity: 0.5;
}

.button-dark {
  @include button($black, $white, default);

  &:hover, &:focus, &:active  {
    @include button($grey-1, $white, default);
  }
}

.button-light {
  @include button($grey-3, $black, default);

  &:hover, &:focus, &:active  {
    @include button($grey-2, $black, default);
  }
}

.button-ghost--light {
  @include ghost-button($grey-3, $grey-3, default);

  &:hover, &:focus, &:active  {
    @include ghost-button($purple, $purple, default);
  }
}

.button-ghost--dark {
  @include ghost-button($black, $black, default);

  &:hover, &:focus, &:active  {
    @include ghost-button($purple, $purple, default);
  }
}

.button-big {
  @include button($button, $button-text, big);

  &:visited {
    @include button($button, $button-text, big);
  }

  &:hover {
    @include button($button-hover, $button-text-hover, big);
  }

  &:active, &:focus {
    @include button($button-hover, $button-text-hover, big);
    outline: 3px solid $highlight;
    box-shadow: 0 0 0 #000;
    top: 3px;
  }
}

.button-big.button-dark {
  @include button($black, $white, big);

  &:visited {
    @include button($black, $white, big);
  }

  &:hover, &:focus, &:active {
    @include button($grey-1, $white, big);
  }
}

.button-big.button-light {
  @include button($grey-3, $black, big);

  &:visited {
    @include button($grey-3, $black, big);
  }

  &:hover, &:focus, &:active {
    @include button($grey-2, $black, big);
  }
}
