// Form input styles

input[type=text],
input[type=search],
input[type=email],
input[type=phone],
input[type=password],
input[type=date],
input[type=url],
textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border-radius: 0;
  border: 2px solid $input-border;
  font-size: $base-font-size;
  font-family: $font-family-sans;
  padding: 5px;
  margin: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
  width: 50%;

  &:focus {
    border: 2px solid $input-border-focus;
    background: transparent;
  }
}

input[type=file] {
  outline: none;
  font-size: $base-font-size;
}

input[type=date] {
    width: auto;
}

textarea {
  resize: none;
}

@media screen and (max-width: $small-screen) {
  input[type=text],
  input[type=search],
  input[type=email],
  input[type=phone],
  input[type=password],
  input[type=date],
  input[type=url],
  textarea {
    width:100%;
  }
}

// Form Labels

.form-group label, .form-group legend {
  display: block;
  padding: 0 0 $padding/4 0;
  font-size: $base-font-size;
}

.form-group span {
  font-style: italic;
  display: block;
  color: scale-color($base-font-colour, $lightness: 50%);
  font-size: ($base-font-size)-4;
}

.form-group, .form-buttons {
  margin: 0 0 $margin 0;
}

.form-group .required {
  font-size: $base-font-size;
}

.form-error {
  padding: $padding/2;
  background: scale-color($error, $lightness: 50%);
}

.form-error input[type=text] {
  border-color: $error;
}

.form-error span {
  font-weight: bold;
}
