// Form input styles

input[type=text],
input[type=search],
input[type=email],
input[type=phone],
input[type=password],
input[type=date],
input[type=url],
textarea {
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  border-radius: 0;
  border: 2px solid $input-border;
  font-size: $base-font-size;
  font-family: $font-family-sans;
  padding: 5px;
  margin: 0;
  outline: 0;
  transition: all 0.2s ease-in-out;
  width: 50%;

  &:focus {
    border: 2px solid $input-border-focus;
  }
}

input[type=file] {
  outline: none;
  font-size: $base-font-size;
}

input[type=date] {
    width: auto;
}

textarea {
  resize: none;
}

@media screen and (max-width: $small-screen) {
  input[type=text],
  input[type=search],
  input[type=email],
  input[type=phone],
  input[type=password],
  input[type=date],
  input[type=url],
  textarea {
    width:100%;
  }
}
