#skiplink-container, #global-cookie-message {
  background-color: #d5e8f3;
}

#global-cookie-message {
  padding: 10px 0;
}

#skiplink-container p, #global-cookie-message p {
  font-size: 16px;
  line-height: 1.25;
  max-width: $site-max-width;
  margin: auto;
  padding: 0 $padding/2;

  a {
    text-decoration: underline;
  }
}

.js {
  #skiplink-container {
    a {
      @include hide;
    }
  }

  #skiplink-container {
    a:focus {
      padding: 5px;
      display: inline-block;
      @include show;
      border: 2px solid $highlight;
      outline: none;
    }
  }
}

.global-header {
  background-color: $black;
  width: 100%;

  .header-wrapper {
    max-width: $site-max-width;
    margin: auto;
    padding: 10px $padding/2;
  }

  .header-logo {
    max-width: 208px;
    float: left;

    a:focus {
      @include focus;
    }

    img {
      width: 100%;
      height: auto;
      border: none;
      display: block;
    }
  }

}

@media screen and (max-width: $small-screen) {

  .global-header {
    position: relative;
  }

}
