// Site footer

$footer-link: $white;
$footer-link-hover: $link-hover-colour;

.footer {
  background: $grey-3;

  a:focus {
    @include nav-focus;
  }
}

.site-footer {
  background: $black;
  padding: $padding 0;

  .footer-navigation {
    @include col(3/4);
    margin: 0 -15px;

    @media screen and (max-width: $medium-screen) {
      @include col(1/2);
    }

    @media screen and (max-width: $small-screen) {
      @include col(1/1);
      padding-bottom: $padding/2;
    }

    li {
      display: inline;

      a {
        display: block;
        float: left;
        margin: 0 #{$margin/2} 0 0;
        line-height: 32px;
        color: $footer-link;

        &:hover {
          color: $footer-link-hover;
          text-decoration: underline;
        }
      }
    }
  }
}

.global-footer {
  background: $grey-3;
  border-top: 1px solid $grey-2;

  a {
    color: #454a4c;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .footer-wrapper {
    max-width: $site-max-width;
    margin: auto;
    padding: $padding*2 $padding/2 0;

    @media screen and (max-width: $small-screen) {
      padding: $padding/2;
    }
  }

  .footer-meta {
    clear: both;
    padding: 0 0 $padding*2;
    font-size: 0;
    font-weight: 400;
  }

  .footer-meta-inner {
    color: #454a4c;
    width: 80%;
    display: inline-block;

    @media screen and (max-width: $small-screen) {
      width: 100%;
      display: block;
    }

    p {
      font-family: $font-family-sans;
      font-size: $footer-font-size;

      @media screen and (max-width: $small-screen) {
        font-size: 14px;
      }
    }
  }

  .copyright {
    display: inline-block;
    text-align: right;
    width: 20%;
    padding-top: 15px;
    font-family: $font-family-sans;
    font-size: $footer-font-size;

    @media screen and (max-width: $small-screen) {
      width: 100%;
      display: block;
      text-align: center;
      margin-top: $margin;
    }

    a {
      display: block;
      padding: 115px 0 0 0;
      background: url("#{$imagePath}govuk-crest.png") no-repeat 100% 0;

      @media screen and (max-width: $small-screen) {
        background: url("#{$imagePath}govuk-crest.png") no-repeat 50% 0;
      }
    }
  }

  .open-government-licence {
    padding-left: 53px;
    position: relative;
    clear: left;

    @media screen and (max-width: $small-screen) {
      padding-left: 0;
      clear: both;
    }

    .logo {
      position: absolute;
      left: 0;
      top: 0;
      width: 41px;
      height: 100%;
      @media screen and (max-width: $small-screen) {
        position: static;
        margin-bottom: $margin/2;
      }

      a {
        position: relative;
        display: block;
        width: 41px;
        height: 17px;
        overflow: hidden;
        text-indent: -999em;
        background: url("#{$imagePath}open-government-licence.png") no-repeat 0 0;
      }
    }
  }
}
