.global-footer {
    background: $grey-3;
    border-top: 1px solid $grey-2;


    a {
        color: #454a4c;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .footer-wrapper {
         max-width: $site-max-width;
         margin: auto;
         padding: $padding*2 $padding/2 0;
    }

    .footer-meta {
        clear: both;
        padding: 0 0 $padding*2;
        font-size: 0;
        font-weight: 400;
    }

    .footer-meta-inner {
        color: #454a4c;
        width: 75%;
        display: inline-block;

        p {
            font-family: $font-family-sans;
            font-size: $footer-font-size;
        }
    }

    .copyright {
        display: inline-block;
        text-align: right;
        width: 25%;
        padding-top: 15px;
        font-family: $font-family-sans;
        font-size: $footer-font-size;

        a {
            display: block;
            padding: 115px 0 0 0;
            background: url("#{$imagePath}govuk-crest.png") no-repeat 100% 0;
        }
    }

    .open-government-licence {
        padding-left: 53px;
        position: relative;
        clear: left;

        .logo {
            position: absolute;
            left: 0;
            top: 0;
            width: 41px;
            height: 100%;

            a {
                position: relative;
                display: block;
                width: 41px;
                height: 17px;
                overflow: hidden;
                text-indent: -999em;
                background: url("#{$imagePath}open-government-licence.png") no-repeat 0 0;
            }
        }
    }
}
