// Nav
$nav-link: $white;
$nav-link-hover: $link-hover-colour;
$nav-link-active: $link-hover-colour;

$sub-nav-link: $white;
$sub-nav-link-hover: $link-hover-colour;
$sub-nav-background: $black;
$sub-nav-background-hover: $black;

@media screen and (min-width: $small-screen) {

  .nav-container {
    float: right;
  }

  .menu-header {
    float: left;
  }

  .navigation {
    font-weight: 700;

    .nav-menu {
      text-align: left;
      display: block;
      position: relative;
      z-index: 2;
      line-height: 1;
      position: relative;
    }

    li {
      display: inline-block;
    }

    li > a {
      display: inline-block;
      padding: 10px $padding/2;
      color: $nav-link;
    }

    li > a:hover,
    li > a.open {
      color: $nav-link-hover;
      text-decoration: underline;
    }

    .active a {
      color: $nav-link-hover;
    }

    li > a:focus {
      color: $sub-nav-link;
      @include focus;
    }

    li > a.open {
      position: relative;
      z-index: 1;
    }

    .sub-nav {
      position: absolute;
      display: none;
      top: 34px;
      padding: ($padding / 2) 10px;
      background: $sub-nav-background;
    }

    .sub-nav ul li {
      padding: 0 0 0 $padding/2;
    }

    .sub-nav a {
      display: block;
      min-width: 200px;
      color: $sub-nav-link;
      padding: 5px;

      &:hover {
        color: $sub-nav-link-hover;
        text-decoration: underline;
      }
    }

    .sub-nav a:focus {
      outline: 2px solid $highlight;
    }

    .sub-nav.open {
      display: block;
    }

    .sub-nav ul {
      display: inline-block;
      margin: 0 $margin 0 0;
      padding: 0;
    }

    .sub-nav li {
      display: block;
    }
  }
}

@media screen and (max-width: $small-screen) {

  .nav-container,
  .menu-header {
    float: none;
    position: relative;
  }

  .navigation {
    clear: both;
    text-align: left;
    padding: 15px 0 0 0;
    @include hide;

    &.open {
      @include show;
    }

    .active a {
      background: transparent;
      color: $nav-link;
      display: inline-block;
    }

    li {
      display: inline-block;;
      width: auto;

      > a {
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0 $margin/2 0 0;
        color: $nav-link;
        background: transparent;

        &:hover {
          color: $sub-nav-link-hover;
          text-decoration: underline;
        }
      }
    }

    .has-sub-nav {
      display: block;
      position: static;
    }

    .sub-nav {
      width: auto;
      position: static;
      display: inline;
      visibility: visible;
      background: transparent;
      padding: 0 0 0 10px;
      clear: both;

      li {
        display: inline-block;
        width: auto;
      }

      a {
        min-width: auto;
        float: left;
        display: inline-block;
        padding: 0;
        margin: 0 $margin/2 0 0;
        color: $grey-2;
      }
    }
  }
}

// Nav Toggle

.nav-toggle {
  @include button($button, $button-text, small);
  @include hide;

  &:visited {
    @include button($button, $button-text, small);
  }

  @media screen and (max-width: $small-screen) {
    position: absolute;
    left: 227px;
    top: 0px;
  }
}
