// Resets

* {
  @include box-sizing(border-box);
}

html, body, ul, ol, dl, dt, dd, p, blockquote, figure, figcaption, table, tr, td,
article, aside, details, figcaption, figure, footer, header, nav, section, summary, details,
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  outline: none;
}

article, aside, details, figcaption, figure, footer, header, nav, section {
	display: block;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $link-colour;
}

a:hover {
  color: $link-hover-colour;
}
