// Site

.row {
  width: $site-max-width;
  margin: auto;
  padding: 0 $padding/2;
}


// Button Links
a.button:link {
  color: $button-text; }

a.button:visited {
  color: $button-text; }

a.button:hover {
  color: $button-text-hover; }

a.button:active {
  color: $button-text-hover; }
