// Typography

// Type
$font-family-sans: "nta",Arial,Sans-Serif;
$font-family-serif: "Georgia", Times,Serif;
$base-sans: $font-family-sans;
$base-font-size: 19px;
$base-line-height: 1.4;
$header-line-height: 1.2;
$footer-font-size: 16px;
$small-screen-font-size: 16px;
$system-font-family-sans: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue";

// Use system-font-family for iOS/ Android devices. Listed are: Apple iOS system font, iOS San Francisco, Apple San Francisco, Android, Windows Phone;

// Headings
h1 {
  font-size: $base-font-size*3;
  font-weight: 700;
  line-height: $header-line-height;
}

h2 {
  font-size: $base-font-size*2.5;
  font-weight: 700;
  line-height: $header-line-height;
}

h3 {
  font-size: $base-font-size*2;
  font-weight: 700;
  line-height: $header-line-height;
}

h4 {
  font-size: $base-font-size*1.5;
  text-transform: uppercase;
  font-weight: 700;
  line-height: $header-line-height;
}

h5 {
  font-size: $base-font-size;
  text-transform: uppercase;
  font-weight: 700;
  line-height: $header-line-height;
}

h6 {
  font-size: $base-font-size;
  font-weight: 700;
  line-height: $header-line-height;
}

p {
  font-size: $base-font-size;
  margin: 0 0 $margin 0;
}

@media screen and (max-width: $small-screen) {
    h1, h2, h3 {
        font-size: $base-font-size*1.5;
    }
}

// Section Headers
.section-header {
  border-bottom:1px solid scale-color($border-colour, $lightness: 50%);
  border-top:1px solid scale-color($border-colour, $lightness: 50%);
  margin: $margin 0;
}

.section-header h1 {
  margin: $margin 0;
}

// Rich Text. Anything spat out by WordPress is/should be wrapped in a .rich-text class

.rich-text {
  font-size: $base-font-size;

  @media screen and (max-width: $small-screen) {
    font-size: $small-screen-font-size;
  }

  // Text Links
  a:link {
    color: $link-colour;
  }

  a:visited {
    color: $link-visited-colour;
  }

  a:hover {
    color: $link-hover-colour;
  }

  a:active {
    color: $link-active-colour;
  }

  p {
    margin: 0 0 $margin 0;
    max-width: 40em;
  }

  ul {
    margin: 0 0 $margin $margin;
    li {
      list-style-type: disc;
      ul {
        margin: 0 0 0 $margin;
        li {
          list-style-type: circle;
        }
      }
    }
  }

  ol {
    margin: 0 0 $margin $margin;
    li {
      list-style-type: decimal;
      ol {
        margin: 0 0 0 $margin;
        li {
          list-style-type: lower-latin;
        }
      }
    }
  }

  blockquote {
    padding: 0 0 0 $padding;
    margin: 0 0 $margin 0;
    max-width: 20em;
    border-left: 8px solid $grey-2;

    cite {
      font-family: $font-family-serif;
      font-size: $base-font-size;
      a:link, a:visited, a:active {
        color: $link-colour;
        text-decoration: none;
      }
    }

    cite:before {
      content: "\2014\00a0";
    }

  }

  // Horizontal Rule

  hr {
    border: 0;
  }

  // Article Links

  a {
    color: $link-colour;
    text-decoration: none;
  }

  a:hover {
    color: $link-hover-colour;
    text-decoration: underline;
  }

  a:visited {
    color: $link-colour;
  }

  a:active {
    color: $black;
    background: $highlight;
  }

  a.external {
      position: relative;
  }

  a.external:after {
      content: url(#{$imagePath}icon-external.png);
      height: 12px;
      width: 12px;
      margin-left: 4px;
  }

}
